.dashboard {
    // background-color: #666;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    .monitoring {
        background-color: transparent;
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        .cpu {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #ccc;
            width: 300px;
            padding: 20px 20px;
            gap: 10px;
            .cpu_label {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .memory {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #ccc;
            width: 300px;
            padding: 20px 20px;
            gap: 10px;
            .memory_label {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .disk {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #ccc;
            width: 300px;
            padding: 20px 20px;
            gap: 10px;
            .disk_label {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}